doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')   
    script(src="https://localhost:44359/Scripts/jquery-3.4.1.js")
    script(src="https://localhost:44359/Scripts/jquery.signalR-2.4.1.js")
    script(src="https://localhost:44359/signalr/hubs")
    script(src="/js/main.js")
  body
    block content
